<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="MailServer" value="dev-smtp.vidly.com" />
  <add key="GoogleClientId" value="561824198459-ee3iee4f9vgde2k1e75ouiqfang26neu.apps.googleusercontent.com" />
  <add key="GoogleClientSecret" value="oESh0CjhT1dG4CRZnYd-xyUW" />
</appSettings>
